body {
    font-family: 'Arial', sans-serif;
    background-color: #2b1b4a;
    color: #ffd857;
    padding-top: 20px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #8d6c9F;
    padding: 20px;
    text-align: center;
    height: 140px;
    width: 1250px;
    margin-bottom: 50px;
    margin-top: 30px;
    background-color: #8d6c9F;
    border-radius: 40px;
    border: 1px solid #ffd857;
    box-shadow: 0 4px 8px rgba(232, 142, 255, 0.2);
}

header img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 1px solid #ffd857
}

nav {
    background-color: #5e548e;
    padding: 20px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 20px;
    border: 1px solid #ffd857;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-left: 80px;
}

nav ul li {
    display: inline-block;
    margin-right: 150px;
}

nav ul li a {
    color: #ffd857;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover {
    color: #ffd857;
    text-decoration: underline;
}

h1, h2 {
    color: #333;
}

h1 {
    font-size: 2.0em;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffd857
}

h2 {
    font-size: 1.8em;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid;
    color: #2b1b4a;
    border-radius: 40px;
    width: 300px;
    margin-left: 230px;
    background-color: #ffd857;
}

section {
    background-color: #ddb8f1;
    width: 800px;
    margin: 20px auto;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 350px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form h3 {
    color: #2b1b4a;
    margin-bottom: 20px;
}

form label {
    margin: 10px 0 5px 0;
    font-weight: bold;
    color: #2b1b4a;
}

form input, form select, form textarea {
    width: 760px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

form button {
    width: 48%;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button[type="submit"] {
    margin-top: 20px;
    background-color: #28a745;
    color: white;
}

form button[type="reset"] {
    background-color: #dc3545;
    color: white;
}

form button:hover {
    opacity: 0.8;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    form button {
        width: 100%;
        margin-bottom: 10px;
    }
}
